<% provide(:title, 'Help') %>

<h3>Instructions on use</h3>

<p>Below are instructions on how to use the broker application.</p>

<h5>To request a quote:</h5>

<ul>
  <li>On the home page click the Get Quote button</li>
  <li>Enter your details in the form</li>
  <li>Submit your details and you will be redirected to your quotation</li>
</ul>

<h5>To retrieve a quote</h5>

<ul>
  <li>On the home page click the Retrieve Quote button</li>
  <li>Enter your email and code in the form</li>
  <li>Submit your details and you will be redirected to your retrieved quotation</li>
</ul>