
<h1>Welcome to DTC online insurance broker! </h1>

<p>
   To get started, click on the get quote button below. If you are a returning user and want to retrieve a quote,
  use the retrieve quote button.
</p>


<%= link_to "Get Quote", user_form_path, class:"btn btn-large btn-primary" %>