<% provide(:title,'Home')%>

<h1>Welcome to DTC online insurance broker! </h1>

<p>
   To get started, click on the get quote button below. If you are a returning user and want to retrieve a quote,
  use the retrieve quote button.
</p>


<input type="button" value="Get Quote" onClick="window.location.href='html/clientForm.html'"/>
<input type="button" value="Retrieve Quote" onClick="window.location.href='html/retrieve.html'"/>