<% provide(:title, 'Your Quotes') %>

<h3>Your Quotes</h3>

<%= render "layouts/display" %>
<br>

<p>Each underwriter will send you an email with a code which can be used to retrieve their quotation for you.</p>

<br>
<p>Thank you for requesting a quote. Press the home button to return to the home page where you can get another quote or
retrieve your quote.</p>