<% provide(:title, 'Your Quote') %>

<h3>Your Quote</h3>

£<%= @quote %>

<p>An email sent has been sent to your address containing a code to access your quotation at a later date.</p>

<p>Thank you for requesting a quote. Press the home button to return to the home page where you can get another quote or
retrieve your quote.</p>