<% provide(:title, 'Retrieved Quotation') %>

<h3>Your Retrieved Quote</h3>

<br>
<%= render "layouts/display" %>
<br>
<p>Thank you for requesting a quote. Press the home button to return to the home page where you can get another quote or
  retrieve your quote.</p>