<!-- Displays all the quotes and the details entered corresponding with the quotes -->

<% @quotes.each do |f| %>
    <%=f[:underwriter]%>: £<%=f[:premium]%>
    <br>
<% end %>

<br>
<p>Below are the details you entered:</p>
<% @details.each do |key,value| %>
    <%=key%>: <%=value%>
    <br>
<% end %>
<br>